.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 25px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons > span:last-child {
  position: relative;
}

.screen-header__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  right: -5px;
  top: -5px;
}
